<div class="hoop-prev hoop-{{ include.hoopNum }}">
  <div class="hoop-prev-header push">
    <h3>Hoop {{ include.hoopNum }}</h3>
    <h4>{{ include.title }}</h4>
    <p>{{ include.byline }}</p>
  </div>
  <p>{{ include.content }}</p>
  <a href="/hoop-{{ include.hoopNum }}" aria-label="Read more about Hoop {{ include.hoopNum }}">Read More.</a>
</div>