{% assign collection = page.title | downcase | replace:' ', '-' %}
<section class="hoop-content wrapper gutter pad-t-4 pad-b-2">
  {% for loop in site[collection] %}
    <div id="{% if page.lang == 'fr' %}cerceau{% else %}hoop{% endif %}-{{ loop.title | replace:'.', '-' }}" class="hoop-accordion push">
      <a class="hoop-accordion-button" href="#{% if page.lang == 'fr' %}cerceau{% else %}hoop{% endif %}-{{ loop.title | replace:'.', '-' }}" aria-label="Click to open Hoop {{ loop.title }}">
        <h2 class="hoop-accordion-title">
          <span class="hoop-number">{{ loop.title }}</span>
          <span class="hoop-title">{{ loop.headline }}</span>
          <span class="hoop-plus-icon">
            {% include graphics/hoop-plus-icon.liquid %}
          </span>
        </h2>
      </a>
      <div class="accordion-content">
        <div class="accordion-content-grid pad-t-b-2">
          <h3>{% if page.lang == 'fr' %}Pourquoi?{% else %}Why{% endif %}</h3>
          <div class="content-block">
            {{ loop.why | markdownify }}
          </div>
          <h3>{% if page.lang == 'fr' %}Quand?{% else %}When{% endif %}</h3>
          <div class="content-block">
            {{ loop.when | markdownify }}
          </div>
          <h3>{% if page.lang == 'fr' %}Comment?{% else %}How{% endif %}</h3>
          <div class="content-block">
            {{ loop.how | markdownify }}
          </div>
          <h3>{% if page.lang == 'fr' %}Coût?{% else %}Cost{% endif %}</h3>
          <div class="content-block">
            {{ loop.cost | markdownify }}
          </div>
          <h3>{% if page.lang == 'fr' %}Qui?{% else %}Who{% endif %}</h3>
          <div class="content-block">
            {{ loop.who | markdownify }}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</section>